name: Build Forge 1.8.9 mod

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'

    - name: Use Gradle 4.10.3
      uses: gradle/gradle-build-action@v3
      with:
        gradle-version: 4.10.3

    - name: Build mod with stacktrace
      run: ./gradlew build --stacktrace

    - name: Upload jars
      uses: actions/upload-artifact@v4
      with:
        name: smoothaotv-jars
        path: build/libs/*.jar
