name: Build and upload jar

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'

    - name: Build with Gradle
      uses: gradle/gradle-build-action@v3
      with:
        arguments: build

    - name: Upload built jars
      uses: actions/upload-artifact@v4
      with:
        name: mod-jars
        path: build/libs/*.jar
